<!DOCTYPE html>
<html>
<head>
    <title>Miltani</title>
</head>

<body>
    <div class="Title">
        <h1>Miltani</h1>
        <h2>helping you choose your next crop</h2>
    </div>

    <div class="form">
        <form action="/result" method="POST"><br>
            <label for="x">Choose x:</label>
            <input list="xs" name="x" id="x"><br>

            <label for="x">Choose x:</label>
            <input list="xs" name="x" id="x"><br>

            <label for="x">Choose x:</label>
            <input list="xs" name="x" id="x"><br>

            <label for="x">Choose x:</label>
            <input list="xs" name="x" id="x"><br>

            <label for="x">Choose x:</label>
            <input list="xs" name="x" id="x"><br>

            
            <datalist id="xs">
                <option value="Internet Explorer">
                <option value="Firefox">
                <option value="Chrome">
                <option value="Opera">
                <option value="Safari">
            </datalist>

            <button type="submit">Submit</button>
        </form>
    </div>    
</body>

</html>